<footer>
  <!-- bg-dark to bg-success to make it green-->
  <nav class="navbar fixed-bottom bg-success">
        <h6 class="navbar-text text-white px-3 ">&copy; Copyright 2025. All rights reserved</h6>

        <div class="navbar-nav d-flex flex-row">
        <a class="nav-link text-light px-3" href="/meals/add">Add a Meal</a>
      </div>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>