<!--nav bar is same as alwyas but i changed the bg-dark to success to make it green-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <!--linked the logo image to the home page-->
    <a class="nav-link" aria-current="page" href="/home"><img src="\Asset\Images\MealIcon.png" width="50" class="img-fluid rounded" alt="Meal Log!"></a>
    <a class="navbar-brand ms-3" href="/">Diet Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--nav bar, if else statement to show active pages as a brigther shade comapred to others to indicate its usage-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if(title=="Home") { %>
            <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(title=="About us") { %>
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
          <% } %>
        </li>
        <li class="nav-item">
        <% if(title=="Plan Meals") { %>
          <a class="nav-link active" aria-current="page" href="/meals"><i class="fa-solid fa-lg fa-book"></i> Plan</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/meals"><i class="fa-solid fa-lg fa-book"></i> Plan</a>
        <% } %>
        </li>
        <li class="nav-item">
          <% if(title=="Contact us") { %>
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact us</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact us</a>
        </li>
        <% } %>
    </div>
  </div>
</nav>